body{
	background-color:black;
	color: white;
	font-size:16px;
}

.nav{
	background: grey;
	position: fixed;
	top: 0;
	width: 93%;
}

.nav ul{
	margin: 0px;
	padding: 0px;
	list-style:none
}

.nav ul li{
	border:2px solid white;
	text-align:center;
	padding: 10px 0px;
}

.nav ul li:hover{
	background-color: #404040;
}

.centered-content{
	text-align:center;
}

.wrapper{
	margin-top: 175px;
}
.welcome-image{
	background-image: url("main image.jpg");
	background-size:cover;
	background-position: center center;
	background-color: white;
	padding: 80px 0px;
}

.image-text{
	font-size:1.5em;	
}

.articles-intro
{
	font-size:2.5em;
	text-align: center;
}

a:link{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

a:visited {
  color: white;
}

#active {
	background-color: #2a2626d6;
}

.heading{
	background-color: white;
	height: 60px;
	text-align: center;
	margin-top: 10px;
}

.heading-text{
	text-align: center;
	color: black;
	font-size: 1.5em;
	line-height: 60px;
	vertical-align: middle;
	font-weight: bold;
}

.articles{
	margin-top: 10px;
}

@media screen and (min-width: 710px)
{
	.nav{
		width:100%;
	}
	.nav ul{
		text-align:center;
		padding-right: 0px;
	}

	.nav ul li{
		display:inline-block;
		text-align: center;
		min-width: 24%;
	}
	.single-article{
		float: left;
		width: 25%;
	}

	.wrapper{
		margin-top: 50px;
	}
}